@model CrudSystem.DAL.Models.Product
@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h1>Product details</h1>
    <div class="form-group">
        <label>Code</label>
        <input readonly class="form-control" asp-for="Code" />        <span class="text-danger" asp-validation-for="Code"></span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input readonly class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input readonly class="form-control" asp-for="Quantity" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input readonly class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        <label>Total</label>
        <input readonly class="form-control" asp-for="Total" />
    </div>
    <div class="form-group">
        <label>NumberOfBoun</label>
        <input readonly class="form-control" asp-for="NumberOfBoun" />
    </div>
    <div class="my-3">
        <a asp-action="Update"  class="btn btn-primary mx-2 px-2">Edit</a> |
        <a asp-action="Delete" class="btn btn-danger mx-2 px-2">Delete</a> |
        <a asp-action="Index" class="btn btn-success mx-2 px-2">Back</a>
    </div>
</div>

